* {box-sizing: border-box;}


@media screen and  (max-width:500px) {
    selector {

    }
}
li{
    display: flex;
    width: 100%;
}

ul.nav-links > li > a{
    flex-direction: column;
    background-color: darkgrey;
    padding: 15px 50px;
    margin: 5px;
    width: 300px;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    justify-content: center;
    padding: 0;
}

.alert-info {
    background-color: lightblue;
    border: solid darkgrey;
    padding: 1em 3em;
}

img {
    width: 100%;
}

footer p {
    display: flex;
    justify-content: space-between;
}


