* {box-sizing: border-box;}


@media screen and  (max-width:500px) {



    li {
        display: flex;

    }

    ul.nav-links {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding-left: 0;
    }

    ul.nav-links > li > a {
        flex-direction: column;
        background-color: lightgray;
        padding: 15px 50px;
        margin: 5px;
        width: 300px;
        text-align: center;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        justify-content: center;
        margin: auto;
        font-size: xxx-large;
    }

    .alert-info.hidden-on-desktop {
        background-color: #c8faff;
        border: solid lightgray;
        padding: 1em 1em;
        width: 300px;
        text-align: center;
    }

    img {
        width: 100%;
    }

    .sub-section {
        font-style: italic;
    }

    footer {
        margin-right: auto;
        padding-bottom: 15px;
    }
}



@media screen and (min-width: 958px) {
    .alert-info{
        visibility: hidden;
    }
    ul.nav-links{
        display: flex;
        flex-direction: row;
        float: right;
        list-style: none;
    }
    li{
        margin: 5px;
    }
    h1 {
        float: left;
    }
    img {
        width: 100%;
    }
    .main {
        float: left;
        width: 75%;
    }
    .sub-section {
        font-style: italic;
        float: right;
        width: 25%;
    }
    footer {
        position: relative;
        clear: both;
        margin-top: 750px;
    }
}

